/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utils */

.container{
    width:100%;
    max-width: 1080px;
    margin: 0 auto;
}

header {
    height: 100px;
    padding: 0 20px;
    line-height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 80px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid gray;
}


#grid {
    min-width: 600px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: aquamarine;
}


#grid .cell{
    padding: 10px 20px;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: solid 1px black;
}

footer {
    height: 70px;
    padding: 0 20px;
    line-height: 70px;
    background-color: white;
}